<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below.</h1>

<form action='/analyze' method='GET'>
    <textarea name="text" style='width: 718px; height: 118px;'></textarea><br>

    <input type="checkbox" name="removepunc">Remove Punctuations</input><br>
    <input type="checkbox" name="fullcaps">UPPERCASE</input><br>
    <input type="checkbox" name="newlineremover">New Line Remover</input><br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover</input><br>
    <input type="checkbox" name="charcount">Char Counter</input><br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>